# Force everything in Sources/ to be C++
Source/** linguist-language=C++

# Optional: Tell github  to ignore any CMake files in that folder specifically
#Source/**/*.cmake linguist-vendored
#Source/**/CMakeLists.txt linguist-vendored
